#header{
    width: 100%;
    height: 5em;
    background-color: #005cbf;
    font-size: 20pt;
    color: #ffffff;
}
#toolbar{
    width: 100%;
    background-color: #20c997;
    height: 8vh;
}
#list-show{
    width: 100%;
    margin-right: -17px;
}
.alert-fix{
    width: 100%;
    margin-right: -17px;
}
.button-fix{
    text-align: left;
}